.catalog-intro {
  position: relative;
  padding: 94px 0;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  color: #FFFFFF;
  background: rgba(86, 64, 52, 0.7);

  h2 {
    padding: 0 70px;
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  p {
    padding: 0 30px;
    margin: 0 auto;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
  }

  @media (max-width: 767px) {
    padding: 79px 5%;

    h2, p {
      padding: 0;
    }
  }
}

.catalog-intro__image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
