.catalog-products {
  max-width: 930px;
  padding: 0 30px;
  margin-left: auto;

  @media (max-width: 1023px) {
    padding: 0;
    margin: 0;
  }

  @media (max-width: 1023px) {
    margin: 0 auto;
  }
}

.catalog-products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 30px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.catalog-products__item {
  min-height: 352px;

  h3 {
    margin: 15px 0;
    margin-top: 25px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  p {
    margin: 0;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  @media (max-width: 1023px) {
    min-height: 280px;
  }

  @media (max-width: 767px) {
    min-height: 220px;
  }
}

.catalog-products__item-image {
  width: 100%;
  max-width: 270px;
  height: 100%;
  max-height: 272px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1023px) {
    max-height: 208px;
  }

  @media (max-width: 767px) {
    max-height: 136px;

    img {
      object-fit: contain;
    }
  }
}

.catalog-products__pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1D1613;

  &::before {
    content: "";
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;
    height: 1px;
    background: #F6F5F4;
  }

  @media (max-width: 767px) {
    margin-top: 50px;

    &::before {
      display: none;
    }
  }
}

.catalog-products__pagination-numbers {
  display: flex;
  color: #9B9997;

  li {
    margin-right: 15px;
  }

  li.active {
    color: #1D1613;
  }

  @media (max-width: 767px) {
    margin: 0 auto;

    li {
      margin-right: 25px;
    }
  }
}

.catalog-products__pagination-next,
.catalog-products__pagination-prev {
  @media (max-width: 767px) {
    display: none;
  }
}
