.catalog-main {
  position: relative;
  display: flex;
  padding: 80px calc(50% - 615px);
  padding-bottom: 75px;

  @media (max-width: 1023px) {
    flex-direction: column;
    padding: 75px 6%;
    padding-top: 50px;
  }

  @media (max-width: 767px) {
    padding: 65px 5%;
    padding-top: 40px;
  }
}
