.catalog-products {
  width: 100%;
  max-width: 930px;
  padding: 0 30px;
  margin-left: auto;

  @media (max-width: 1023px) {
    padding: 0;
    margin: 0;
  }

  @media (max-width: 1023px) {
    margin: 0 auto;
  }
}

.catalog-products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 36px;
  column-gap: 28px;

  @media (max-width: 1023px) {
    row-gap: 30px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 10%;
  }
}

.catalog-products__item {
  min-height: 330px;
  font-family: "Poppins", "Arial", sans-serif;

  h4 {
    margin: 6px 0;
    margin-top: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  a {
    &:active,
    &:focus,
    &:hover {
      color: orange;
    }
  }

  @media (max-width: 1023px) {
    min-height: 280px;
  }

  @media (max-width: 767px) {
    flex-basis: 45%;
    min-height: 220px;

    h4 {
      margin-top: 15px;
    }
  }
}

.catalog-products__item-image {
  width: 100%;
  max-width: 270px;
  height: 100%;
  max-height: 272px;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1023px) {
    max-height: 208px;
  }

  @media (max-width: 767px) {
    max-height: inherit;
    height: auto;
    max-width: inherit;

    img {
      aspect-ratio: 100 / 105;
    }
  }
}

.catalog-products__pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1D1613;

  &::before {
    content: "";
    position: absolute;
    bottom: 132px;
    left: 0;
    right: 0;
    height: 1px;
    background: #F6F5F4;
  }

  @media (max-width: 1023px) {
    margin-top: 67px;
  }

  @media (max-width: 767px) {
    margin-top: 40px;

    &::before {
      display: none;
    }
  }
}

.catalog-products__pagination-numbers {
  display: flex;
  color: #9B9997;

  li {
    margin-right: 15px;
  }

  li.active {
    color: #1D1613;
  }

  a {
    &:hover,
    &:focus,
    &:active {
      color: orange;
    }
  }

  @media (max-width: 767px) {
    margin: 0 auto;

    li {
      margin-right: 20px;
    }
  }
}

.catalog-products__pagination-next,
.catalog-products__pagination-prev {
  a {
    &:hover,
    &:focus,
    &:active {
      color: orange;
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}
