.footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 90px calc(50% - 615px);
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background: #000000;

  @media (max-width: 1023px) {
    padding: 45px calc(50% - 339px);
    padding-top: 50px;
  }

  @media (max-width: 767px) {
    padding: 50px 5%;
  }
}

.footer__subscription {
  width: 100%;
  max-width: 500px;
  margin-left: 30px;

  @media (max-width: 1023px) {
    flex-basis: 100%;
    max-width: 560px;
    margin: 0;
    margin-bottom: 50px;
  }

  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.footer__subscription-title {
  margin-bottom: 7px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.02em;

  @media (max-width: 767px) {
    padding-right: 22%;
    margin-bottom: 14px;
  }
}

.footer__subscription-description {
  margin-bottom: 40px;
  font-weight: 400;
  color: #9B9997;

  @media (max-width: 767px) {
    padding-right: 15%;
  }
}

.footer__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #ffffff;
  background: #000000;

  input {
    width: 100%;
    margin-right: 48px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #ffffff;

    @media (max-width: 1023px) {
      margin-right: 24px;
    }
  }
}

.footer__email-submit {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: orange;
  }

  svg {
    margin-left: 12px;
  }
}

.footer__service-list,
.footer__contacts-list,
.footer__social-list {
  flex-shrink: 0;
  padding-left: 10px;
  margin-left: auto;
  margin-top: 5px;
  background: #000000;

  @media (max-width: 1023px) {
    padding: 0;
    margin: 0;
    margin-right: 87px;
  }

  @media (max-width: 767px) {
    min-width: 200px;
    margin: 0;
    margin-right: 50px;
    margin-bottom: 20px;
  }
}

.footer__contacts-list {
  width: 100%;
  max-width: 140px;
  padding: 0;

  @media (max-width: 1023px) {
    width: auto;
    max-width: inherit;
  }
}

.footer__social-list {
  margin-right: 30px;

  @media (max-width: 1023px) {
    margin: 0;
  }

  @media (max-width: 767px) {
    flex-basis: 100%;
    display: flex;
    margin: 0;
  }
}

.footer__service-item,
.footer__contacts-item,
.footer__social-item {
  margin-bottom: 22px;

  a {
    &:hover,
    &:focus,
    &:active {
      color: orange;
    }
  }
}

.footer__social-item {
  @media (max-width: 767px) {
    margin-right: 12px;
  }
}

.footer__social-link {
  display: flex;
  align-items: center;

  svg {
    margin-right: 15px;
  }

  @media (max-width: 767px) {
    svg {
      width: 20px;
      height: 21px;
    }

    span {
      display: none;
    }
  }
}
