.goods {
  position: relative;
  padding: 120px calc(50% - 615px);
  padding-bottom: 60px;
  margin: 0 30px;
  color: #1D1613;

  @media (max-width: 1023px) {
    padding: 70px 6%;
    padding-bottom: 35px;
    margin: 0;
  }

  @media (max-width: 767px) {
    padding: 62px 5%;
    padding-bottom: 30px;
  }
}

.goods__title {
  margin-bottom: 24px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-size: 34px;
  line-height: 44px;
  text-align: center;

  @media (max-width: 1023px) {
    margin-bottom: 21px;
  }
}

.goods__link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid #A87B62;

  &:hover,
  &:focus,
  &:active {
    color: orange;
    border-color: orange;
  }

  @media (max-width: 1023px) {
    padding-bottom: 3px;
    margin-bottom: 50px;
  }

  @media (max-width: 767px) {
    margin-bottom: 38px;
  }
}

.goods__item {
  font-family: "Poppins", "Arial", sans-serif;

  h3 {
    margin: 5px 0;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  a {
    &:active,
    &:focus,
    &:hover {
      color: orange;
    }
  }

  @media (max-width: 767px) {
    h3 {
      margin: 5px 0;
      margin-top: 14px;
    }
  }
}

.goods__item-image {
  width: 100%;
  height: 284px;

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 100 / 106;
  }

  @media (max-width: 1023px) {
    height: 340px;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.goods__buttons {
  position: relative;

  @media (max-width: 767px) {
    display: none;
  }
}

.goods__btn-prev,
.goods__btn-next {
  position: absolute;
  top: -85px;
  width: 32px;
  height: 12px;
  color: #A87B62;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid orange;
  }

  &:after {
    display: none;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1023px) {
    top: -75px;
    width: 34px;
    height: 15px;
  }
}

.goods__btn-prev {
  left: 0;
  transform: rotate(-180deg);
}

.goods__btn-next {
  right: 0;
}
