.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 calc(50% - 615px);
  padding-top: 25px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: 1023px) {
    align-items: center;
    padding: 27px 6%;

    &--menu-opened {
      background: #A87B62;

      .header__logo,
      .header__nav-list,
      .header__menu,
      .header__user-link--purchases {
        color: #ffffff;
      }

      .header__info-list,
      .header__login-list,
      .header__nav-list {
        display: block;
      }

      .header__nav-form {
        display: flex;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 18px 5%;
  }
}

.header__footer {
  flex-basis: 100%;
}

.header__info-list {
  display: none;
  margin: 15px 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.75);

  @media (max-width: 1023px) {
    margin: 45px 0;
  }

  @media (max-width: 767px) {
    margin-top: 32px;
    margin-bottom: 36px;
  }
}

.header__info-item {
  margin-bottom: 30px;

  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.header__login-list {
  display: none;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;

  @media (max-width: 767px) {
    margin-bottom: 35px;
  }
}

.header__form {
  display: flex;
  align-items: flex-start;
  margin-top: 17px;
  margin-left: 28px;

  input {
    order: 2;
    border: none;
  }

  label {
    margin-right: 15px;
    cursor: pointer;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.header__menu {
  display: none;
  width: 23px;
  height: 28px;
  color: #1D1613;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: orange;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1023px) {
    display: block;
  }
}



.header__nav-form {
  display: none;

  @media (max-width: 1023px) {
    position: relative;
    align-items: flex-start;
    margin-top: 40px;
  }

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.header__nav-search {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 40px;
  border: none;
  border-radius: 21px;
  background: rgba(255,255,255,.15);
}

.header__nav-label {
  position: absolute;
  top: 20px;
  left: 12px;
  width: 16px;
  height: 16px;
  color: white;
  transform: translateY(-50%);

  svg {
    width: 100%;
    height: 100%;
  }
}

.header__logo {
  display: block;
  width: 66px;
  height: 66px;
  margin: 0 auto;
  margin-top: 5px;
  color: #A87B62;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 767px) {
    width: 52px;
    height: 52px;
  }
}

.header__user-list {
  display: flex;
  padding-left: 55px;
  margin-top: 17px;
  margin-right: 32px;

  @media (max-width: 1023px) {
    padding: 0;
    margin: 0;
  }
}

.header__user-item {
  margin-left: 35px;

  a {
    &:hover,
    &:focus,
    &:active {
      color: orange;
    }
  }

  @media (max-width: 1023px) {
    margin: 0;

    &--login {
      display: none;
    }
  }
}

.header__user-link {
  &--purchases {
    svg {
      display: none;
      width: 20px;
      height: 20px;
    }

    @media (max-width: 1023px) {
      svg {
        display: block;
      }

      span {
        display: none;
      }
    }
  }
}

.header__nav {
  flex-basis: 100%;
  font-size: 16px;
  line-height: 24px;

  a {
    &:hover,
    &:focus,
    &:active {
      color: orange;
    }
  }

  @media (max-width: 1023px) {
    font-size: 24px;
    line-height: 36px;
  }
}

.header__nav-list {
  display: flex;
  justify-content: center;
  padding: 18px;
  padding-left: 30px;
  margin-top: 20px;

  @media (max-width: 1023px) {
    display: none;
    flex-direction: column;
    padding: 0;
    margin-top: 45px;
  }

  @media (max-width: 767px) {
    margin-top: 45px;
  }
}

.header__nav-item {
  margin: 0 18px;

  @media (max-width: 1023px) {
    margin: 0;
    margin-bottom: 20px;
  }
}
