.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px calc(50% - 615px);
  padding-bottom: 125px;
  margin: 0 30px;
  color: #1D1613;

  @media (max-width: 1023px) {
    padding: 30px 6%;
    padding-bottom: 80px;
    margin: 0;
  }

  @media (max-width: 767px) {
    padding: 10px 5%;
    padding-bottom: 70px;
  }
}

.instagram__title {
  margin-bottom: 30px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: 1023px) {
    margin-bottom: 16px;
  }
}

.instagram__link {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 60px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid #A87B62;

  &:hover,
  &:focus,
  &:active {
    color: orange;
    border-color: orange;
  }

  @media (max-width: 767px) {
    margin-bottom: 48px;
  }
}

.instagram__photos {
  display: grid;
  grid-template-columns: 19.5% 34.5% 19.5% 19.5%;
  row-gap: 34px;
  column-gap: 2.3%;
  width: 100%;
  max-width: 1170px;

  @media (max-width: 1023px) {
    row-gap: 21px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 133px 87px 87px;
    column-gap: 24px;
    row-gap: 27px;
  }
}

.instagram__photo {
  overflow: hidden;

  &--large {
    grid-row: auto / span 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    &.hide {
      display: none;
    }
  }
}
