.login {
  width: 100%;
  padding: 100px calc(50% - 215px);

  @media (max-width: 1023px) {
    padding: 80px calc(50% - 221px);
  }

  @media (max-width: 767px) {
    padding: 50px 8%;
  }

  &--popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;

    &.hide {
      display: none;
    }
  }
}

.login__wrapper {
  position: relative;
  background: #F0EAE4;
}

.login__title {
  margin-top: 50px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #1D1613;

  @media (max-width: 767px) {
    margin-top: 37px;
    font-size: 24px;
    line-height: 31px;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  padding: 30px 45px;
  padding-bottom: 60px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9B9997;

  input {
    padding: 9px 0;
    color: #1D1613;
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid #1D1613;

    &::placeholder {
      color: #9B9997;
    }
  }

  @media (max-width: 1023px) {
    padding: 25px 50px;
    padding-bottom: 55px;
  }

  @media (max-width: 767px) {
    padding: 22px 6%;
    padding-bottom: 40px;
  }
}

.login__email {
  margin-bottom: 30px;

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.login__forgot {
  margin-top: 5px;
  font-size: 12px;
  line-height: 18px;
  text-align: right;

  &:active,
  &:hover,
  &:focus {
    color: orange;
  }
}

.login__account {
  text-align: center;

  a {
    margin-left: 5px;
    color: #1D1613;

    &:active,
    &:hover,
    &:focus {
      color: orange;
    }
  }
}

.login__image {
  width: 100%;
  height: 140px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    height: 84px;
  }
}

.login__btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 68px;
  margin-top: 45px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #A87B62;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: orange;
  }

  @media (max-width: 767px) {
    margin-top: 35px;
  }
}

.login__btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  padding: 5px;
  color: #1D1613;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: orange;
    border: 1px solid orange;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1023px) {
    width: 30px;
    height: 30px;
  }

  @media (max-width: 767px) {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
  }
}
