.goods {
  position: relative;
  padding: 50px calc(50% - 615px);
  margin: 0 30px;
  color: #1D1613;

  @media (max-width: 1023px) {
    padding: 50px 6%;
    margin: 0;
  }

  @media (max-width: 767px) {
    padding: 50px 5%;
  }
}

.goods__title {
  margin-bottom: 35px;
  font-family: "Cormorant Garamond";
  font-size: 34px;
  line-height: 44px;
  text-align: center;
}

.goods__link {
  display: block;
  width: fit-content;
  padding-bottom: 5px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid #A87B62;

  &:hover,
  &:focus,
  &:active {
    color: orange;
    border-color: orange;
  }
}

.goods__item {
  h3 {
    margin: 15px 0;
    margin-top: 25px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  p {
    margin: 0;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
}

.goods__item-image {
  width: 100%;
  max-width: 270px;
  height: 100%;
  max-height: 284px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1023px) {
    max-width: 100%;
    max-height: 340px;
  }

  @media (max-width: 767px) {
    max-height: 136px;

    img {
      object-fit: contain;
    }
  }
}

.goods__buttons {
  position: relative;

  @media (max-width: 767px) {
    display: none;
  }
}

.goods__btn-prev,
.goods__btn-next {
  position: absolute;
  top: -95px;
  color: #A87B62;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid orange;
  }

  &:after {
    display: none;
  }
}

.goods__btn-prev {
  left: 0;
  transform: rotate(-180deg);
}

.goods__btn-next {
  right: 0;
}
