.questions {
  padding: 70px calc(50% - 515px);

  @media (max-width: 1023px) {
    padding: 50px 6%;
  }

  @media (max-width: 767px) {
    padding: 50px 5%;
  }
}

.questions__title {
  padding: 0 60px;
  margin-bottom: 50px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #1D1613;

  @media (max-width: 767px) {
    padding: 0;
    margin-bottom: 28px;
  }
}

.questions__list {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  border: 1px solid #A87B62;

  @media (max-width: 1023px) {
    margin: 0;
  }
}

.questions__item {
  display: flex;
  flex-wrap: wrap;
  padding: 43px;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  color: #1D1613;
  border-bottom: 1px solid #A87B62;

  &:last-child {
    border-bottom: none;
  }

  h3 {
    flex-basis: 95%;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }

  p {
    display: none;
    flex-basis: 100%;
    max-width: 528px;
    margin: 0;
    margin-top: 8px;
    margin-left: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }

  button {
    width: 23px;
    height: 23px;
    padding: 3px;
    transform: rotate(180deg);
    margin-left: auto;
    color: #A87B62;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }

    &.active {
      transform: rotate(0deg);
    }

    &.active + p {
      display: block;
    }

    &:hover,
    &:focus,
    &:active {
      color: orange;
    }
  }

  @media (max-width: 1023px) {
    p {
      margin-top: 22px;
      margin-left: 5px;
    }
  }

  @media (max-width: 767px) {
    padding: 25px;
    padding-top: 15px;
    padding-right: 20px;

    h3 {
      flex-basis: 85%;
      font-size: 16px;
      line-height: 22px;
    }

    button {
      width: 26px;
      height: 26px;
    }

    p {
      max-width: inherit;
      margin: 0;
      margin-top: 14px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
