.main-slider {
  .swiper {
    width: 100%;
    min-height: 432px;

    @media (max-width: 1023px) {
      min-height: 480px;
    }

    @media (max-width: 767px) {
      min-height: 280px;
    }
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    margin-right: 15px;

    &:last-child {
      margin: 0;
    }
  }

  .swiper-pagination-bullet {
    width: auto;
    height: auto;
    margin-right: 15px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #9B9997;
    opacity: 1;
    border: none;
    background: none;

    &.swiper-pagination-bullet-active {
      color: #1D1613;
    }
  }

  .swiper-pagination-fraction {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #1D1613;

    .swiper-pagination-current {
      margin-right: 5px;
    }

    .swiper-pagination-total {
      margin-left: 5px;
    }
  }
}
