.intro {
  position: relative;
  padding: 168px 0;
  font-family: "Cormorant Garamond";
  color: #FFFFFF;
  background: rgba(86, 64, 52, 0.7);

  h2 {
    padding: 0 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  p {
    padding: 0 150px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 38px;
    line-height: 49px;
    text-align: center;
  }

  @media (max-width: 767px) {
    padding: 175px 0;

    h2, p {
      padding: 0 5%;
    }

    h2 {
      font-size: 38px;
      line-height: 49px;
    }

    p {
      font-size: 34px;
      line-height: 44px;
    }
  }
}

.intro__image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
