@import "utils/normalize.scss";
@import "utils/fonts.scss";
@import "utils/global.scss";

@import "libs/swiper.scss";

@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/main-intro.scss";
@import "blocks/main-blog.scss";
@import "blocks/main-questions.scss";
@import "blocks/main-inst.scss";
@import "blocks/main-goods.scss";
@import "blocks/main-slider.scss";
