@import "utils/normalize.scss";
@import "utils/fonts.scss";
@import "utils/global.scss";

@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/main-intro.scss";
@import "blocks/main-blog.scss";
